@using LeiChia.Helpers
@model List<CartItem>

<h1>Cart</h1>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fruit.Name</td>
                <td>@item.Amount</td>
                <td>@item.Fruit.Price</td>
                <td>@item.SubTotal</td>
                <td>
                    <form asp-action="RemoveItem" asp-controller="Product" method="post">
                        <input type="hidden" name="id" value="@item.Fruit.Id" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cart-@item.Fruit.Id">update</a>
                </td>
            </tr>
            <div class="modal" tabindex="-1" id="cart-@item.Fruit.Id">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title">@item.Fruit.Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @*<p>Current stock: @item.Stock</p>*@
                            <button class="btn" onclick="decrementStock('@item.Fruit.Id')"><i class="bi bi-dash-lg"></i></button>
                            <input type="text" id="input-@item.Fruit.Id" value="0" />
                            <button class="btn" onclick="incrementStock('@item.Fruit.Id')"><i class="bi bi-plus-lg"></i></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a class="btn AddItem btn-primary" onclick="AddItem('@item.Fruit.Id')">加入購物車</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </tbody>
</table>

<script>function AddItem(id) {
        var input = document.getElementById("input-" + id);
        var quantity = input.value;
        $('.AddItem').attr('href', '/Product/EditItem/' + id + '?quantity=' + quantity);
    }
    function decrementStock(id) {
        var input = document.getElementById("input-" + id);
        var value = parseInt(input.value) - 1;
        if (value < 0) {
            value = 0;
        }
        input.value = value;
    }
    function incrementStock(id) {
        var input = document.getElementById("input-" + id);
        var value = parseInt(input.value) + 1;
        input.value = value;
    }</script>