@using LeiChia.Helpers
@model List<CartItem>

<h1>Cart</h1>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fruit.Name</td>
                <td>@item.Amount</td>
                <td>@item.Fruit.Price</td>
                <td>@item.SubTotal</td>
                <td>
                    <form asp-action="RemoveItem" asp-controller="Product" method="post">
                        <input type="hidden" name="id" value="@item.Fruit.Id" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cart-@item.Fruit.Id">update</a>
                </td>
            </tr>
            <div class="modal" tabindex="-1" id="cart-@item.Fruit.Id">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title">@item.Fruit.Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @*<p>Current stock: @item.Stock</p>*@
                            <button class="btn" onclick="decrementStock('@item.Fruit.Id')"><i class="bi bi-dash-lg"></i></button>
                            <input type="text" class="quantity" value="@item.Amount" />
                            <button class="btn" onclick="incrementStock('@item.Fruit.Id')"><i class="bi bi-plus-lg"></i></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                            <a class="btn AddItem btn-primary" onclick="Edit('@item.Fruit.Id')">更改</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </tbody>
</table>


