@using LeiChia.Helpers
@model List<CartItem>

<h1>Cart</h1>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fruit.Name</td>
                <td>@item.Amount</td>
                <td>@item.Fruit.Price</td>
                <td>@item.SubTotal</td>
                <td>
                     <form asp-action="RemoveItem" asp-controller="Product" method="post">
                        <input type="hidden" name="id" value="@item.Fruit.Id" />
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>

